<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorksheetGen.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WorksheetGen.Settings>
            <setting name="xmlfile" serializeAs="String">
                <value>C:\k2math\xml\worksheets.xml</value>
            </setting>
            <setting name="pdffolder" serializeAs="String">
                <value>C:\k2math\pdfs\</value>
            </setting>
            <setting name="website_signature" serializeAs="String">
                <value>Find more worksheets at https://sites.google.com/site/k2mathworksheet</value>
            </setting>
            <setting name="imagesfolder" serializeAs="String">
                <value>C:\pdfs\images</value>
            </setting>
        </WorksheetGen.Settings>
    </userSettings>
</configuration>